body {
  margin: 0;
  font-family: 'Bebas Neue', Cambria; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34,193,195);
  background: linear-gradient(89deg, rgba(34,193,195,1) 0%, rgba(191,45,253,1) 100%);
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
